
@{
    ViewBag.Title = "Employee";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            @ViewBag.a
        </a>
        <a href="#" class="list-group-item list-group-item-action">@ViewBag.b</a>
        <a href="#" class="list-group-item list-group-item-action">@ViewBag.c</a>
        <a href="#" class="list-group-item list-group-item-action">@ViewBag.d</a>
        <a href="#" class="list-group-item list-group-item-action disabled">@ViewBag.e</a>
    </div>
</body>
</html>
